body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;

}

h1 {

  font-family: "Josefin Sans", system-ui;
  font-optical-sizing: auto;
  font-style: normal;


  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
font-size: 2em;
}

html {
  font-size: 20px;
}

.pink {
  color: rgb(225, 192, 203);
}

.blue {
  color: skyblue;
}
#basic > p {
  font-weight: bold;
}
html {
  font-size: 20px;
}


